/.gitignore     export-ignore
/.gitattributes export-ignore

# Files & folders that should not be included in production.
.gitignore                         export-ignore
.travis.yml                        export-ignore
mkdocs.yml                         export-ignore
/.github/                          export-ignore
/docs/src/markdown/_snippets/      export-ignore
/docs/src/markdown/contributing.md export-ignore
/docs/src/markdown/index.md        export-ignore
/docs/src/markdown/installation.md export-ignore
/docs/src/markdown/license.md      export-ignore
/docs/src/markdown/usage.md        export-ignore
/docs/theme/                       export-ignore
/tests/                            export-ignore
/run_tests.sh                      export-ignore
setup.cfg                          export-ignore
