site_name: ColorHelper
site_url: https://eatbreathecode.github.io/sublime_color_helper/
repo_url: https://github.com/EatBreatheCode/sublime_color_helper/
edit_uri: tree/master/docs/src/markdown
site_description: Popup tooltips and previews for stylesheet colors.
copyright: |
  Copyright &copy; 2015 - 2020 <a href="https://github.com/facelessuser" target="_blank" rel="noopener">Isaac Muse</a>
  <br><span class="md-footer-custom-text">emoji provided free by </span>
  <a href="https://github.com/twitter/twemoji" target="_blank" rel="noopener">Twemoji</a>

docs_dir: docs/src/markdown
theme:
  name: material
  palette:
    scheme: dracula
    primary: deep purple
    accent: deep purple
  icon:
    logo: material/book-open-page-variant
  font:
    text: Roboto
    code: Roboto Mono

nav:
  - About Markdown Popups: index.md
  - Installation: installation.md
  - User Guide: usage.md
  - About:
    - Contributing &amp; Support: about/contributing.md
    - License: about/license.md

markdown_extensions:
  - markdown.extensions.toc:
      slugify: !!python/name:pymdownx.slugs.uslugify
      permalink: ""
  - markdown.extensions.admonition:
  - markdown.extensions.smarty:
      smart_quotes: false
  - pymdownx.betterem:
  - markdown.extensions.attr_list:
  - markdown.extensions.def_list:
  - markdown.extensions.tables:
  - markdown.extensions.abbr:
  - markdown.extensions.footnotes:
  - markdown.extensions.md_in_html:
  - pymdownx.superfences:
  - pymdownx.highlight:
      extend_pygments_lang:
        - name: php-inline
          lang: php
          options:
            startinline: true
        - name: pycon3
          lang: pycon
          options:
            python3: true
  - pymdownx.inlinehilite:
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      social_url_shorthand: true
      user: EatBreatheCode
      repo: sublime_color_helper
  - pymdownx.tilde:
  - pymdownx.caret:
  - pymdownx.smartsymbols:
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.escapeall:
      hardbreak: true
      nbsp: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.arithmatex:
  - pymdownx.mark:
  - pymdownx.striphtml:
  - pymdownx.snippets:
      base_path: docs/src/markdown/_snippets
  - pymdownx.keys:
      separator: "\uff0b"
  - pymdownx.details:
  - pymdownx.tabbed:
  - pymdownx.saneheaders:

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/EatBreatheCode

plugins:
  - search
  - git-revision-date-localized
  - mkdocs_pymdownx_material_extras
  - minify:
      minify_html: true
